body {
    margin: 0;
    padding: 0;
    user-select: none;
}
a{
    text-decoration: none;
    color: inherit;
}
header {
    width: 100%;
}
header nav{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #4a4a4a;
}
header nav .logo{
    background: url("../img/hospital-logo.png") no-repeat;
    background-size: 70px 70px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5px;
    left: 50px;
}
header nav .create-btn{
    position: absolute;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    right: 100px;
    color: #28dd55;
    height: 56px;
    border-bottom: 6px solid #4a4a4a;
    transition: color linear .5s,
    background linear .5s,
    border-bottom linear .5s;
}
header nav .create-btn:hover{
    color: #3c91dd;
    background-color: #2c2c2c;
    border-bottom: 6px solid #3c91dd;
    transition: all linear .5s;
}
header nav .create-btn a{
    display: inline-block;
    cursor: pointer;
    width: inherit;
    height: inherit;
}
header nav .create-btn span{
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
}
.container{
    margin-top: 18px;
    display: flex;
    justify-content: center;
}
.container .visit-board{
    position: relative;
    width: 1000px;
    height: 500px;
    border: 8px solid #2c2c2c;
    background-color: #4a4a4a;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    overflow: auto;
    position: relative;
}
.modalDialog {
    position: fixed;
    font-family: 'Verdana', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
    display: none;
}
.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 2% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    border: 5px solid #28dd55;
}
.close {
    background: #4a4a4a;
    color: #FFFFFF;
    line-height: 50px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    border: 3px #2c2c2c solid;
    border-radius: 50px;
    transition: all .5s linear;
}
.close:hover {
    background: #28dd55;
    color: #2c2c2c;
    transition: all .5s linear;
}
.modalDialog div h2 {
    text-align: center;
}
.select-content{
    text-align: center;
    margin-bottom: 10px;
}
.new-inputs > input{
    width: 100%;
    padding: 8px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 3px solid rgba(40, 221, 85, 0.23);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.new-inputs > input:focus {
    border: 3px solid #28dd55;
}
.btn-submit{
    display: flex;
    justify-content: center;
}
input[type=submit] {
    background-color: #28dd55;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #20af48;
}
textarea#comments{
    width: 100%;
    max-width: 600px;
    min-width: 600px;
    min-height: 50px;
    max-height: 130px;
    padding: 8px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 3px solid rgba(40, 221, 85, 0.23);
    outline: none;
}
textarea#comments:focus{
    border: 3px solid #28dd55;
}


/*CardStyles*/
.visitCard {
    display: inline-block;
    text-align: center;
    background:silver;
    width: 120px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.cardContent {
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 2px;
    padding-right: 10px;

}

.visitCard .cardInf p:nth-child(1), .visitCard .cardInf p:nth-child(3){
    font-size: 18px;
    font-weight: bold;
}

.closeCard {
    position: absolute;
    right:0;
    top:0;
    /*width: 55px;*/
    /*height: 15px;*/
    z-index: 9999;
    border: 0;
    background: silver;
    outline: none;
    border-radius: 20px;
}
.closeCard:hover{
    color: red;
    transform: scale(1.5);
}
.showCardInf {
    position: static;
}
.fullInf {
    position: static;
    display:none;
}
.visit-board .board-message{
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22%;
}